rd_xfer -fstype=nfs4,rw {{ rivolution_remote_nfs_host }}:/srv/nfs4/home/{{ rivolution_user }}/rd_xfer
music_export -fstype=nfs4,rw {{ rivolution_remote_nfs_host }}:/srv/nfs4/home/{{ rivolution_user }}/music_export
music_import -fstype=nfs4,rw {{ rivolution_remote_nfs_host }}:/srv/nfs4/home/{{ rivolution_user }}/music_import
traffic_export -fstype=nfs4,rw {{ rivolution_remote_nfs_host }}:/srv/nfs4/home/{{ rivolution_user }}/traffic_export
traffic_import -fstype=nfs4,rw {{ rivolution_remote_nfs_host }}:/srv/nfs4/home/{{ rivolution_user }}/traffic_import
